body {

    font-family: "Roboto"; 
    font-size: 32px;
    font-style: normal;
    margin: 0px;

}

.navbar {
    background-color: #151515;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 45px; 
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;       
}

.navbar-title {

    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    position: absolute;
    padding-left: 690px;
    width: 1720px;
}

  
.nav-links li {
    margin-right: 0px;
    margin-left: 30px;
    align-items: center;
    display: flex;

}
  
.nav-links li:last-child {
    margin-right: 0px;

}
  
.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    display: flex;
    align-items: flex-start;

}

.contenedor1 {
    width: 700px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.titulo-perfil {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding-left: 25px;
    width: 500px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.descripcion-perfil {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    width: 600px;
    padding-left: 25px;
    
}

.vl {
    border-left: 2px solid black;
    position: absolute;
    left: 49%;
    top: 320px;
    display: flex;
    width: 5px;
    height: 389px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.NOMBRE {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
}

.contenedor2 {
    width: 600px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 80px;
    margin-left: 30px;
}

.Nayareth {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.correo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.EDUCACION {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: block;
    text-decoration-line: underline;  
 
}

.contenedor-año1 {
    width: 700px;
    display: inline-block;
}


.año1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline;

}

.UDP {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-inline-start: 68px;

}

.año2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline;  
}

.HKBU {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-inline-start: 69px;

}

.contenedror-año2 {
    width: 700px;
    display: inline-block;
}

.IDIOMAS {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
}

.contenedor-español {
    width: 700px;
    display: inline-block;
}

.español {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline;
}

.nativo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-inline-start: 44px;
}

.contenedor-ingles {
    width: 700px;
    display: inline-block;
}

.ingles {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline; 
}

.ielts {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-inline-start: 62px;
}

.EXPERIENCIA {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
}

.contenedor-teatro {
    width: 700px;
    display: inline-block;
}

.año-teatro {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline; 
}

.teatro {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-inline-start: 69px;
}

.contenedor-patrimonio {
    width: 550px;
    display: inline-block;
    
}

.año-practica {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline;
    column-gap: 20px;
   
}

.practica {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px; 
    display: inline;
    padding-left: 69px;

    
    word-break: keep-all;
    box-sizing: border-box;
    border: 2px dotted blue;


}