body {

    font-family: "Roboto"; 
    font-size: 32px;
    font-style: normal;
    margin: 0px;
    background-color: #0D0029;
    color: #fff;
}
/* 151515 fondo y navbar en escala de grises */

.contenedor1 {
    width: 700px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.titulo-perfil {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding-left: 25px;
    width: 500px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.descripcion-perfil {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    width: 600px;
    padding-left: 25px;
    line-height : 25px;
}

.vl {
    border-left: 1px solid #151515;
    position: absolute;
    left: 53%;
    top: 200px;
    display: flex;
    width: 5px;
    height: 389px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.contenedor-soft-general {
    width: 600px;
    margin-left: 20px;
    padding-top: 20px;
}

.contenedor-softwares1 {
    flex-shrink: 0;
    display: flex;
    width: 500px;
    gap: 10px;
}

.Photoshop {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.Illustrator {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.AfterEffects {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.VisualStudioCode {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.contenedor-softwares2 {
    flex-shrink: 0;
    display: flex;
    width: 500px;
    gap: 10px;

}

.TouchDesigner {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.InDesign {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.Figma {
    font-family: "Roboto Mono";
    font-size: 16px;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    border-radius: 35px;
    border: 1px solid;
    display: inline;
}

.NOMBRE {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-bottom: 0px;
    
}

.contenedor2 {
    width: 500px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 80px;
    margin-left: 65px;
}

.Nayareth {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.correo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.EDUCACION {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: block;
    text-decoration-line: underline;  
    text-underline-offset: 5px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.contenedor-año1 {
    width: 500px;
    display: inline-block;
    margin-top: 10px;
}


.año1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline;
}

.UDP {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    display: inline;
    padding-inline-start: 68px;

}

.año2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline;  
}

.HKBU {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    display: inline;
    padding-inline-start: 69px;

}

.contenedror-año2 {
    width: 500px;
    display: inline-block;
}

.IDIOMAS {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-bottom: 0px;
    margin-top: 30px;

}

.contenedor-español {
    width: 500px;
    display: inline-block;
    margin-top: 10px;

}

.español {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline;
}

.nativo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    display: inline;
    padding-inline-start: 44px;
}

.contenedor-ingles {
    width: 500px;
    display: inline-block;
}

.ingles {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline; 
}

.ielts {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    display: inline;
    padding-inline-start: 60px;

}

.EXPERIENCIA {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.contenedor-teatro {
    width: 500px;
    display: inline-block;
    margin-top: 10px;

}

.año-teatro {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline; 
}

.teatro {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    display: inline;
    padding-inline-start: 69px;

}

.contenedor-patrimonio {
    width: 550px;
    display: inline-block;
    align-items: baseline;
    display: flex;

}

.año-practica {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-right: 7px;
}

.practica {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px; 
    box-sizing: border-box;
    padding-left: 72px;
    width: 380px;
    line-height : 25px;
}

.footer {
    font-family: "Roboto Mono";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: center;
}

.footer-fila1 {
    margin: 10px;
}

.footer-fila2 {
    margin: 10px;
}
.contenedor-inicio {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: center;
}

.imagen1 {
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    max-width: 84%; /* Ajustar la imagen al ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}

.contenedor-scroll {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.flecha {
    width: 19px;
    height: 14px;
    flex-shrink: 0;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.scroll1 {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1px;
    display: inline;
    align-items: center;


}

.contenedor-proyectos {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: center;
}

.proyectos {
    margin-bottom: 0px;
}

.xd {
    margin: 0px;
}

.xdd {
    margin: 0px;

}

.xddd {
    margin: 0px;
    margin-top: 0px;
}

.contenedor-inicio2 {
    width: 1000px;
    display: inline-flex;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 500px;
    
}

.imagen2 {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0px;
    width: 800px;
    height: 716px;
}

.contenedor-inicio-parrafo {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 800px;
    margin-bottom: 0px;

}

.inicio-parrafo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding-left: 0px;
    line-height : 25px;
    display: inline-block;
    vertical-align: bottom;
    width: 500px;
    margin-top: 400px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.segundaparte-parrafo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height : 25px;

}

.inicio-click {
    display: inline-block;
    align-items: center;
    margin-top: 0px;
    height: 40px;
}

.clicl-proyectos {
    font-family: "Roboto Mono";
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: inline;
}

.flecha2 {
    width: 19px;
    height: 14px;
    flex-shrink: 0;
    display: inline;
    vertical-align: baseline;    
}